body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.3rem;
    background-color: #f9f9f9;
    color: #333;
}


.navbar {
    background-color: #0073d8;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .logo span {
    font-weight: normal;
  }
  
  .navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
  }
  
  .navbar nav a.active,
  .navbar nav a:hover {
    text-decoration: underline;
  }

.sobre-nos-container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #0072ce;
    font-size: 2rem;
    margin-bottom: 50px;
}

.caixas {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.caixa-texto {
    background-color: #0072ce;
    color: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.caixa-texto h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.caixa-texto p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.botao-dashboard {
    margin-top: 40px;
    text-align: center;
}

.botao-dashboard a {
    background-color: #0072ce;
    color: white;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botao-dashboard a:hover {
    background-color: #005fa3;
}

.footer {
    text-align: center;
    padding: 5px;
    background-color: #eaeaea;
    margin-top: 50px;
    font-size: 14px;
  } 